<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<html>
  <head>
    <title>SingIn</title>
  </head>
  <body>

  <div id="container">
   
    <form method="post" id="myForm" action="./signup">
      <div class="col-xs-6">

        <h1>Registrazione</h1>
        <p>Completando questo form le tue informazioni verranno archiviate in maniera persistente</p>
        <hr>

        <label for="username"><b>Username</b></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" placeholder="Inserisci il tuo username..." name="username" required>
        </div>
        <br>

        <label for="psw"><b>Password</b></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" placeholder="Inserisci una password..." name="password" required>
        </div>
        <br>

        <p>Creando un account dichiari di aver letto ed accettato <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        <hr>
        <br>
        
        <div class="clearfix">
          <button type="button" class="btn btn-primary btn btn-danger" value="cancelbtn" onclick="myFunction()">
            <span class="glyphicon glyphicon-remove">Ripristina</span>
          </button>

          <button type="submit" class="btn btn-primary btn btn-success" value="singupbtn">
            <span class="glyphicon glyphicon-ok">Log in</span>
          </button>
        </div>

      </div>

    </form>
<br>

    <form method="get" id="readForm" action="./read">
      <div class="col-xs-6">
        <button type="submit" class="btn btn-primary btn btn-success" value="singupbtn">
          <span class="glyphicon glyphicon-search">Visualizza Post</span>
        </button>
      </div>
    </form>

  </div>
  

  <style>
    #container {
      display:grid;
      width: 100%;
    }
  </style>

  </body>

  <script>
    function myFunction(){
      document.getElementById("myForm").reset();
    }
  </script>

  
</html>
