<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DBNodeApp</title>
</head>

<body>
<div class="col-sm-12">
  <h1>Inserisci nuovo post</h1>
  <br> 
  
  <form method="post" id="add" name="add" action="./item/add">
    <div class="form-group">
      <textarea class="form-control" name="name" required="true" rows="8" cols="50"></textarea>
    </div>
    
    <button type="submit" value="Add" class="btn btn-plus btn btn-primary col-sm-1">
      <span class="glyphicon glyphicon-plus">Aggiungi</span>
    </button>
  </form>

  <form method="get" action="./item/show">
  <button type="submit" value="Show" class="btn btn-search btn btn-primary col-sm-1">
    <span class="glyphicon glyphicon-search">Mostra</span>
  </button>
  </form>
  
</div>



</body>

</html>
