<!DOCTYPE html>
<html>
  <head>
    <title>Visualizzazione</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <body>
    <h1>Bacheca messaggi</h1>
    <br>
<!--class="table data-table table-hover table-bordered table-striped dataTable no-footer dtr-inline"-->
      <div class="col-sm-3">
          <table id="data-table" class="table borderless">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>POST</th>
                  </tr>
              </thead>
              <% for (var i = 0, index=0; i < items.length; i++, index++) { %>
              <tbody>
                  <tr>
                      <td><%= index%></td>
                      <td><%= items[i].name%> </td>
                  </tr>
              </tbody>
              <% }; %>
          </table>
          <form method="get" action="/"> 
            <button type="submit" id="show" value="Torna indietro" class="btn btn-danger">
                    <span class="glyphicon glyphicon-off">Log out</span>
            </button>
          </form>
          
          <br>

          <form method="post" action="./return"> 
            <button type="submit" id="return" value="Aggiungi Post" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left">Nuovo Post</span>
            </button>
          </form>
      </div>


  </body>

 

</html>
